---
import Layout from "../layouts/Layout.astro";
import Button from "../components/Button.astro";
import Image from "astro/components/Image.astro";
---

<script>
  import { timeline, type TimelineDefinition } from "motion";
  import { loaderAnimation } from "../lib/constants";

  const sequence = [loaderAnimation];

  timeline(sequence as TimelineDefinition);
</script>

<Layout
  title="Sragvee Satluri - Blog"
  description="Software developer who loves to mess with code and create innovative apps."
>
    <video src="https://media.tenor.com/VJqYwn0A6P4AAAPo/exploding-cat-cat-blowing-up.mp4" autoplay muted class="ml-4 p-4"/>
<span class="flex items-center">
    <h1 class="text-4xl font-bold text-neutral-100">Whoops! Looks like you're not supposed to be here</h1>
</span>
    <a href='/' aria-label="return button"> 
        <Button aria-label="return button">
            Let's Get You Back
        </Button>
    </a>
</Layout>
