---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card/index.astro";
import IntroCard from "../components/IntroCard.astro";
import Projects from "../components/Projects.astro";
import TimeZone from "../components/TimeZoneCard.astro";
import AboutMe from "../components/AboutMe.astro";
import FlippedCard from "../components/Card/flip2.astro";
import { Icon } from "astro-icon/components";
---

<script>
  import { stagger, spring, timeline, type TimelineDefinition } from "motion";
  import { loaderAnimation } from "../lib/constants";
  const cards = document.querySelectorAll(".card");

  const sequence = [
    loaderAnimation,
    [
      cards,
      { y: ["40%", "0%"], opacity: [0, 1] },
      {
        at: "-0.1",
        duration: 0.4,
        delay: stagger(0.3),
        easing: spring({ velocity: 100, stiffness: 50, damping: 10 }),
      },
    ],
  ];

  timeline(sequence as TimelineDefinition);
</script>

<Layout
  title="Sragvee's Portfolio"
  description="Hi, I'm Shurgbee, a software developer who loves to explore new technologies and create innovative apps."
>
  <main
    class="text-white m-auto p-2 grid gap-2 max-w-6xl overflow-hidden relative w-full sm:p-4 sm:gap-2 md:grid-cols-2 md:gap-3 md:p-6 lg:h-screen lg:grid-rows-8 lg:grid-cols-4 lg:gap-4 lg:max-h-[800px] grid-cols-1"
  >
    <IntroCard />
    <AboutMe />
    <Projects />
    <!-- <TimeZone /> -->
    <Card
      colSpan="md:col-span-1"
      rowSpan="md:row-span-1"
      title="Timeline"
      href="/timeline"
    >
    <div class="-z-10 w-full h-full"></div>
    </Card>
      <FlippedCard
        colSpan="md:col-span-1"
        rowSpan="md:row-span-2">
        <div slot="front">
          <p class="font-bold card text-align-center"> What I'm listening to</p>
          <div class="text-align-center grid pt-4">
            <Icon name="fa6-brands:spotify" class="text-7xl place-self-center"/>
          </div>
        </div>
      <div slot="back" class="w-100% h-100% size-80px">
        <iframe src="https://open.spotify.com/embed/track/13VNbW9gblZQVVM2a7ZQf5?utm_source=generator" width="100%" height="100%" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
      </div>
      </FlippedCard> 
    <Card colSpan="md:col-span-1" rowSpan="md:row-span-1"> 
      <p class="text-xs">
        © {new Date().getFullYear()} · Built with 
        <a href="https://astro.build/"
        target="_blank"
        class="text-blue-500">Astro🚀</a> 
          . Based off of <a
          href="https://github.com/Ladvace/astro-bento-portfolio"
          target="_blank"
          class="text-blue-500">this template</a> 
      </p>
    </Card>
  </main>
</Layout>
