---
interface Props {
    linkto?: string;
}

const { linkto } = Astro.props;
---

<div class="inline bg-neutral-900 hover:bg-neutral-800 px-2 py-0.9 border-1 border-solid border-blue-600 rounded-lg mb-1 mt-1 ml-1 hover:font-bold ">
    {linkto ? <a class="text-white" href={linkto}><slot/></a> : <slot/>}
    </span>