---
import Card from "./Card/index.astro";
import { LINKS } from "../lib/constants";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-4">
  <div class="h-full">
    <header class="flex items-center">
      <h1 class="text-white text-xl font-bold">
        Projects
      </h1>
    </header>
    <address class="flex flex-col mt-4">
      <h2 class="text-gray-500">Contact Details</h2>
      <a class=" hover:underline not-italic" href={'mailto:'+LINKS.email}>{LINKS.email}</a>
    </address>
    <div class="flex flex-col mt-4 w-fit">
      <h2 class="text-gray-500">Socials</h2>
      <ul>
        <li class="hover:underline">
          <a href={LINKS.linkedin} target="_blank">Linkedin</a>
        </li>
        <li class="hover:underline">
          <a href={LINKS.github} target="_blank">Github</a>
        </li>
      </ul>
    </div>
  </div>
</Card>
